<ion-view view-title="Cuestionario" >
  <ion-content style="background-image:url('img/fondoApp.jpg');
  background-size: cover;
  ">
    <h3 class="text-center" style="padding: 20px"> Antes de comenzar responda estas preguntas </h3>

  	<div class="card">
	  <div class="item item-divider">
	    ¿Tomaste tu medicamento?
	  </div>
	  <div class="item item-text-wrap">
    	<ion-radio name = "Res1" ng-value="'si'" ng-model="data.respuesta1"> Si </ion-radio>
    	<ion-radio name = "Res1" ng-value="'no'" ng-model="data.respuesta1"> No </ion-radio>
	  </div>
	</div>

<div class="text-right padding">
    <a class="button button-energized icon-right ion-chevron-right button-calm" style="color: #000;"ng-click="terminar();"> Comenzar </a>
    </div>

  </ion-content>
</ion-view>
