<ion-view  view-title="Ejercicios">

  <ion-content
  style="background-image:url('img/fondoApp.jpg');
  background-size: cover;
  "
  >
   <!--http://images.forwallpaper.com/files/images/d/d521/d5215ca5/465641/flow-of-orange-color.jpg
   -->
  <h2 class="text-center padding">Bienvenido Sebastián</h2>
    <div class="card" style="background: rgba(0, 100, 255, 0.48);">
      <div class="item item-icon-left">
         <i class="icon ion-android-alert"></i><p>Ésta es tú rutina de ejercicios para hoy</p>
      </div>
    </div>

    <div class="card" style="background: rgba(0, 100, 255, 0.48);">
    <ion-list>
      <div ng-repeat="ejercicio in listaEjercicios" ng-if="ejercicio.tipo != 1 && ejercicio.estado != 1">
        <ion-item class="item-stable" style="background:#FFF" ng-click="toggleGroup(ejercicio)"
                  ng-class="{active: isGroupShown(ejercicio)}">
            <i class="icon" ng-class="isGroupShown(ejercicio) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          Ejercicio {{ejercicio.nombre}}
        </ion-item>
        <ion-item class="item-accordion" ng-show="isGroupShown(ejercicio)">
          Sensibilidad sensor: {{ejercicio.parametros.sensibilidad}}
        </ion-item>

         <ion-item class="item-accordion" ng-show="isGroupShown(ejercicio)"> 
             <span ng-if="ejercicio.parametros.tiempo==0">Tiempo: Sin limite </span>
             <span ng-if="ejercicio.parametros.tiempo>0">Tiempo: {{ejercicio.parametros.tiempo}}</span>
        </ion-item> 
      </div>
    </ion-list>
    </div>

    <div class="text-right padding">
    <a class="button button-energized icon-right ion-chevron-right button-calm" style="color: #000;" ng-click="comenzar()"> Comenzar </a>
    </div>

    
  </ion-content>    
    
    <div class="bar bar-footer" style="background-color: rgba(255, 255, 255, 0.3);">
      <progress max="100" value={{porcentaje}}></progress>  
    </div>

</ion-view>
