<ion-view view-title="Ejercicio1">
  <ion-content style="background-image:url('img/fondoApp.jpg');
  background-size: cover;
  ">
    <h2 class="text-center padding">{{ejercicio.nombre}}</h2>
    <h4 class="padding" ><strong>Instrucciones<strong></h4>
    <h4 class="text-center padding">{{ejercicio.instrucciones}}</h4>
    <img src="img/ejercicio1.jpg" style="max-width: 100%;">
  
    <div class="text-right padding">
      <a class="button button-energized icon-right ion-chevron-right button-calm" style="color: #000;"ng-click="continuar();"> Comenzar </a>
    </div>
  </ion-content>
</ion-view>
