<ion-view>
  <ion-content style="background-image:url('img/fondoApp.jpg');
  background-size: cover;
  ">
  	<br />
	<div style="  -moz-border-radius: 7px;-webkit-border-radius: 7px;padding: 10px;margin: 15px 5%;
  background-color: rgba(255, 255, 255, .35);">
      	<h2 class="text-center padding" style="">Felicidades</h2>
        <h4 class="text-center padding">Completaste tu rutina de ejercicios destinada para hoy.</h4>
        <div class="text-center"><img src="img/man-check.png" style="max-width: 55%" /></div>
        
    </div>


	
        <div style="  text-align: right; padding-bottom: 6px; padding-right: 10%;" >
          <button style="color:#000" class="button button-energized" ng-click="continuar();">Volver al inicio</button>
        </div>
  </ion-content>

</ion-view>